In [1]:
import pandas as pd
import os
import pickle
from sqlalchemy import create_engine
engine = create_engine('sqlite:///DisasterResponse.db')
df = pd.read_sql("SELECT * FROM messages", engine)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
category_names = df.iloc[:,4:].columns
category_names = [each_name.title() for each_name in category_names]
message_counts = df.iloc[:, 4:] != 0
message_totals = message_counts.sum().values
message_totals

array([20094,  4474,   118, 10860,  2084,  1313,   724,   471,   860,
        1672,  2923,  2314,   405,   604,   298,   875,  1194,  3446,
        1705,  1201,  1333,   532,   159,   283,   120,   309,  1151,
        7297,  2155,  2443,   282,  2455,   530,  1376,  5075],
      dtype=int64)

In [12]:
message_counts.sum().sort_values(ascending=False)[0:5]

related            20094
aid_related        10860
weather_related     7297
direct_report       5075
request             4474
dtype: int64

In [8]:
titles=message_counts.sum().sort_values(ascending=False)[0:14].index

In [9]:
titles

Index(['related', 'aid_related', 'weather_related', 'direct_report', 'request',
       'other_aid', 'food', 'earthquake', 'storm', 'shelter', 'floods',
       'medical_help', 'infrastructure_related', 'water'],
      dtype='object')

In [10]:
values=message_counts.sum().sort_values(ascending=False)[0:14].values

In [11]:
values

array([20094, 10860,  7297,  5075,  4474,  3446,  2923,  2455,  2443,
        2314,  2155,  2084,  1705,  1672], dtype=int64)